<html>

<body class="text-center">


<main class="form-signin">
  <h2 class="text-white" *ngIf=!showForm>Utworzono poprawnie użytkownika, nastąpi przekierowanie do strony logowania</h2>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()"  *ngIf=showForm>
    <img class="mb-4" src="../assets/logo.svg" alt="" width="72" height="57">
    <h3 class="text-white" *ngIf=showLoginBusy [textContent]=errorMessage></h3>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="login"
             formControlName="login" [ngClass]="{ 'is-invalid': submitted && f.login.errors }"/>
      <label for="floatingInput">Login</label>
      <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
        <div *ngIf="f.login.errors.required">Login jest wymagany</div>
      </div>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="Email"
             formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      <label for="floatingEmail">Email</label>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email jest wymagany</div>
        <div *ngIf="f.email.errors.email">Email jest niepoprawny</div>
      </div>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
             formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Hasło jest wymagane</div>
        <div *ngIf="f.password.errors.minlength">Hasło musi zawierać co najmniej 8 znaków</div>
      </div>
      <label for="floatingPassword">Hasło</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="ConfirmPassword"
             formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Potwierdzenie hasła jest wymagane</div>
        <div *ngIf="f.confirmPassword.errors.matching">Hasła nie są takie same</div>
      </div>
      <label for="floatingConfirmPassword">Potwierdź hasło</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit"
            style="background: #00b6bd; border-color: #00b6bd">Zarejestruj się
    </button>
  </form>
</main>

</body>
</html>


