<mat-sidenav-container autosize>
  <mat-sidenav #sidenav class=" flex-column flex-shrink-2 p-3 text-white bg-dark" mode="side" opened=true>
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon [ngClass]="{ rotated: isExpanded }" class="chevron-button" mat-list-icon>chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item (click)="onMenuChange(0)" [routerLink]="''" [style]="menuItemStyleClassResolver(0)">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Strona główna</span>
      </mat-list-item>

      <mat-list-item (click)="onMenuChange(1)" [routerLink]="'add-offer'" [style]="menuItemStyleClassResolver(1)" [hidden]="!isUserLogged()" [disabled]="!isUserLogged()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Dodaj ofertę</span>
      </mat-list-item>

      <mat-list-item (click)="onMenuChange(2)" [routerLink]="'login'" [style]="menuItemStyleClassResolver(2)" [hidden]="isUserLogged()" [disabled]="isUserLogged()">
        <mat-icon mat-list-icon>person</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">{{account}}</span>
      </mat-list-item>


      <mat-list-item (click)="onMenuChange(4)" [style]="menuItemStyleClassResolver(4)" [hidden]="!isUserLogged()" [disabled]="!isUserLogged()">
        <mat-icon mat-list-icon style="color: #087275">logout</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Wyloguj się</span>
      </mat-list-item>

      <mat-list-item (click)="onMenuChange(5)" [routerLink]="'administrator-panel'"
                     [style]="menuItemStyleClassResolver(5)"
                     [hidden]="!isAdministratorLogged()" [disabled]="!isAdministratorLogged()">
        <img src="../../../assets/white-administrator-96.png" alt="Panel Administratora"  height="30" style="color: white">
        <span *ngIf="isExpanded" class="menu-item">Panel administratora</span>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
