.box {
  background: #2c3034;
  width: inherit;
  height: auto;
  min-height: 100vh;
}
.box-list {
  background: #2c3034;
  width: 50vw;
  height: auto;
}

.pad{
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  width: inherit;
  height: 120px;
  min-width: inherit;
  z-index: 1; /* Ensure that your app's content doesn't overlap the toolbar */
  background: #212529;
}

.div2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


