<html>
<body class="text-center">
<main class="form-signin">

  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="../assets/logo.svg" alt="" width="72" height="57">
    <h2 class="text-white" *ngIf=errorMessage>Niepoprawne dane logowania</h2>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="login"
             formControlName="login">
      <label for="floatingInput">Login</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
             formControlName="password">
      <label for="floatingPassword">Hasło</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit"
            style="background: #00b6bd; border-color: #00b6bd">Zaloguj się
    </button>
  </form>

  <div style="margin-top: 50%">
    <h2 class="text-white">A może chcesz założyć konto?</h2>
    <button class="w-100 btn btn-lg btn-primary" type="button" (click)="register()"
            style="background: #00b6bd; border-color: #00b6bd; margin-top: 15px" >Zarejestruj się
    </button>
  </div>
</main>

</body>
</html>
