<a style="border-radius: 200px">
  <div
    [routerLink]="['/offer-detail', index ]"
    routerLinkActive="active"
    style="cursor: pointer; background: #212529; width: 600px; height: 280px; border-radius: 50px ">

    <mat-grid-list [cols]=2 rowHeight=280px>

      <mat-grid-tile>
        <img
          [src]="'https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg'"
          alt="{{ recipe.title }}"
          style="height: inherit;">
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="background: #212529;  width: 480px; height: 200px;">
          <div [textContent]="recipe.title" class="text-white text-title"></div>
          <div [textContent]="recipe.city" class="text-white text-next"></div>
          <div [textContent]="recipe.costPerMonth" class="text-white text-next"></div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</a>

