<a style="border-radius: 200px">
  <div
    style="cursor: pointer; background: #212529; width: 800px; height: 280px; border-radius: 50px ">

    <mat-grid-list [cols]=2 rowHeight=280px>

      <mat-grid-tile>
        <img
          src="https://estate-portal.azurewebsites.net/public/photo/?photoId={{offer.coverPhotoId}}"
          alt="{{ offer.title }}"
          style="height: inherit; min-width: 450px; width: 450px"
          [routerLink]="['/offer-detail', index, source]"
          routerLinkActive="active"
          (click)="fetchPhotos()">
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="background: #212529;  width: 400px; height: 280px;">
          <mat-icon class="text-white icon-display" mat-list-icon  (click)="deleteOffer()">delete</mat-icon>
          <div [textContent]="offer.title" class="text-white text-title" style="font-size: 18px;"></div>
          <div [textContent]="getAddress()" class="text-next" style="font-size: 15px; color: #cecece;"></div>
          <div [textContent]="getCostText()" class="text-white text-next" style="font-size: 22px; margin-top: 15px"></div>
          <div [textContent]="getRoomNumber()" class="text-next child" style="font-size: 15px; color: #cecece;"></div>
          <div [textContent]="getArea()" class="text-next child" style="font-size: 15px; color: #cecece;"></div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</a>

