<div class="box">

  <mat-grid-list [cols]=2 rowHeight=550px>

    <mat-grid-tile>
      <img
        [src]="'https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg'"
        alt="{{ offer.title }}"
        style="width: auto; height: 550px" >
    </mat-grid-tile>

  </mat-grid-list>

  <div class="text-white">
    {{offer.title}}
  </div>
  <div class="text-white">
    {{offer.additionalDescription}}
  </div>
  <div class="text-white">
    {{offer.apartmentNumber}}
  </div>
  <div class="text-white">
    {{offer.street}}
  </div>
  <div class="text-white">
    {{offer.city}}
  </div>
  <div class="text-white">
    {{offer.costPerMonth}}
  </div>
  <div class="text-white">
    {{offer.rent}}
  </div>
  <div class="text-white">
    {{offer.deposit}}
  </div>
  <div class="text-white">
    {{offer.roomNumber}}
  </div>
  <div class="text-white">
    {{offer.area}}
  </div>
</div>
