.box {
  background: #2c3034;
  padding-bottom: 5vh;
  padding-left: -35vw;
  padding-right: 5vw;
  width: 100vw;
  height: auto;
}

.mat_list{

  padding-bottom: 5vh;
  padding-left: -35vw;
  padding-right: 5vw;
  width: 100vw;
}

.box2{
  background: #212529;
  height: auto;
  min-height: 500px;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  margin-top: 30px;
}

.main_image{
  width: 960px;
  height: 540px;
}

.scroller{
  background: #2c3034;
  height: 300px;
  margin-left: 200px;
  margin-right: 200px;
}

.img_item {
  height: 300px;
  width: 420px;
  padding: 14px;
}

