.box {
  background: #2c3034;
  padding-bottom: 5vh;
  width: inherit;
  height: auto;
}

.scrollerr{
  width: 800px;
}

.mat_list{
  width: inherit;
}

.box2{
  background: #212529;
  height: auto;
  min-height: 500px;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  margin-top: 30px;
}

.main_image{
  width: 960px;
  height: 540px;
}

.scroller{
  background: #2c3034;
  height: 300px;
  margin-left: 200px;
  margin-right: 200px;
  width: 1200px;
}

.img_item {
  height: 300px;
  width: 420px;
  padding: 14px;
}

