<mat-toolbar class="app-toolbar">

  <div class="col-12" style="width: auto; margin-left: 50px">

    <div class="input-group has-validation">
      <input type="number" [(ngModel)]="minPrice" placeholder="Cena minimalna" style="height: 40px" >
      <span class="input-group-text" style="height: 40px">zł</span>
    </div>

    <div class="input-group has-validation">
      <input type="number" [(ngModel)]="maxPrice" placeholder="Cena maksymalna"  style="margin-top: 10px; height: 40px"  >
      <span class="input-group-text" style="margin-top: 10px; height: 40px" >zł</span>
    </div>

  </div>

  <div class="col-12" style="width: auto; margin-left: 50px ">

    <div class="input-group has-validation">
      <input type="number" [(ngModel)]="minArea"  placeholder="Minimalna powierzchnia" style="height: 40px" >
      <span class="input-group-text" style=" height: 40px">m2</span>
    </div>

    <div class="input-group has-validation">
      <input type="number" [(ngModel)]="maxArea"  placeholder="Maksymalna powierzchnia" style="margin-top: 10px; height: 40px" >
      <span class="input-group-text" style="margin-top: 10px; height: 40px">m2</span>
    </div>

  </div>

  <div class="col-12" style="width: auto; margin-left: 50px ">
    <input type="number" [(ngModel)]="roomNumber" placeholder="Liczba pokoi" style="height: 40px" >
    <select class="form-select" [(ngModel)]="type" id="state" style="margin-top: 10px; height: 40px" >
      <option>Wynajem</option>
      <option>Sprzedaż</option>
    </select>
  </div>

  <div class="col-12" style="width: auto; margin-left: 50px ">

    <div class="input-group has-validation">
      <input type="text" [(ngModel)]="city" id="city" placeholder="Miasto" style="height: 40px" >
    </div>

    <div class="input-group has-validation">
      <input type="text" [(ngModel)]="street" placeholder="Ulica" style="margin-top: 10px; height: 40px" >
    </div>

  </div>

  <mat-paginator
    (page)="currentPageChng($event)"
    [length]="offers.length"
    [pageIndex]="currentPageIndex"
    [pageSize]="20"
    aria-label="Select page"
    class="text-white pad"
    hidePageSize="true"
    style="object-position: right; background: #212529;">
  </mat-paginator>

  <div class="col-12" style="width: auto; margin-left: 50px ">
    <button  class="btn btn-primary btn-lg"
             (click)="runRequest()"
             style="background: #00b6bd; border-color: #00b6bd" type="submit">Wyszukaj
    </button>
  </div>
</mat-toolbar>

<div class="box">
  <mat-grid-list [cols]=1 rowHeight="300px">
    <mat-grid-tile
      *ngFor="let recipeEl of offers.slice(currentPageIndex*20,(currentPageIndex+1)*20); let i = index">
      <app-recipe-item
        [index]="currentPageIndex*20 + i"
        [offer]="recipeEl"></app-recipe-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
