/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"; !* You can add global styles to this file, and also import other style files *!*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #00b6bd;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color: #00b6bd;
  background-color: #00b6bd ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgb(255, 37, 37,.26);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background: #2c3034;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212529;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555b64;
}

