<div class="box">

  <mat-grid-list class="mat_list" [cols]=1 rowHeight="4rem" [gutterSize]="'10px'">

    <mat-grid-tile [rowspan]="8">
      <img class="main_image" drag-scroll-item src="https://estate-portal.azurewebsites.net/public/photo?photoId={{selectedPhoto}}"  alt=""/>
    </mat-grid-tile>

    <mat-grid-tile  [rowspan]="3">
      <mat-icon class="text-white " mat-list-icon style="margin-right: -170px" (click)="previousPhoto()">arrow_back_ios</mat-icon>
      <drag-scroll class="scroller">
        <span *ngFor="let i of imagesId;">
          <img class="img_item"  drag-scroll-item src="https://estate-portal.azurewebsites.net/public/photo?photoId={{i}}"  alt="" (click)="changePhoto(i)"/>
        </span>
      </drag-scroll>
      <mat-icon class="text-white" mat-list-icon style="margin-left: -170px" (click)="nextPhoto()">arrow_forward_ios style</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="box2">
    <div class="row">
        <div class="col-md-6" style="margin-top: 20px" >
          <div class="text-white" style="font-size: 25px; margin-left: 20px;">
            {{offer.title}}
          </div>
          <div class="text-white" style="font-size: 25px; margin-left: 20px;">
            {{getCostText()}}
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;" >
      </div>
    </div>

    <div class="text-white" style="font-size: 18px; margin-left: 20px; margin-top: 40px;">{{offer.additionalDescription}}</div>

    <div  style="margin-left: 300px; margin-right: 300px;">
      <table class="table table-striped text-white">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let country of dataSource; index as i">
          <td class="text-white fw-bold">{{ country.key  }}</td>
          <td class="text-white">{{ country.value  }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>



